.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,80,255,.6) !important;
}
.btn:hover{
    background-color: aliceblue;
    color: black;
}
body {
    font-family: 'Lato', sans-serif;
}

#profilepic{
    height: 300px;
    width: 380px;
}

.col-5{
    text-align: center;
}

#blogtitle {
    font-size: 3rem;
    color: chocolate;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 2rem;
    }
    #blogdetailtitle {
        font-size: 3rem;
    }
}
